# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environment
venv/
ENV/
env/
';l
.venv/

# Django stuff
*.log
local_settings.py
db.sqlite3
media/

# VSCode
.vscode/

# System files
.DS_Store
Thumbs.db

# Git
.git/
